@media screen and (max-width:750px){
    header .container{
    display: flex;
    flex-direction: column;

    }

    .botao{
    margin-top: 5px;
    width: 180px;
    height: 60px;
    }
}

@media screen  and (min-width:1000px){
    .sinopse{
        width:60%;
    }
}